.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  gap: 20px;
}

.not-found button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: tomato;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
