.verify {
  min-height: 60vh;
  display: grid;
}

.verify .spinner {
  width: 100px;
  height: 100px;
  place-self: center;
  border: 5px solid #bdbdbd;
  border-top-color: tomato;
  border-radius: 50%;
  animation: rotate 1s infinite;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  gap: 1rem;
}

.error button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: tomato;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
